.col-12
  = page_entries_info @videos
  - if @videos.blank?
    .row.mt-5
      .col-12.text-center There are no videos now
  - else
    - @videos.each do |video|
      .row.mt-5
        .col-lg-4.col-sm-7
          %iframe{src: "https://www.youtube.com/embed/#{video.video_id}", width: "360", height: "270", frameborder: "0"}
        .col-lg-8.col-sm-5
          .video-title.h5.text-danger.mb-0= video.title
          .video-details
            .row
              .col-12= "Shared by: #{video.publisher}"
          Description:
          .video-description= video.description
.col-12.mt-2.d-flex.justify-content-center
  = paginate @videos
