!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Funnyvideos
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .row
        %p.notice-1= notice
      .row
        %p.alert-1= alert
      .row
        .col-4
          %h1 Funny Movies
        .col-8
          - if user_signed_in?
            Welcome #{current_user.email}
            .btn= link_to "Share a movie", new_videos_path
            .btn= link_to('Logout', destroy_user_session_path, method: :delete)
      .row
        = yield
